{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "doubleQuote": true,
  "jsxSingleQuote": true,
  "jsxDoubleQuote": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.{js,jsx}",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
